:root {
  --main-text: #FFFFFF;
  --secondary-text: #167C80;
  --main-color: #000000;
  --main-color-light: #58728461;
}

body {
  background-color: var(--main-color);
  color: var(--main-text);
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p,
a {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li a {
  color: var(--main-text);
  text-decoration: none;
  padding: 5px;
  font-size: 28px;
}

@media (max-width: 790px) {
  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .nav ul li {
    flex: 1 1 50%;
    text-align: center;
  }

  .nav ul li a {
    padding: 5px;
  }
}

.nav ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 790px) {
  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav ul {
    flex-direction: row;
    align-items: flex-start;
  }

  .nav ul li {
    margin: 0;
  }
}

.logo img {
  max-width: 200px;
  margin-left: auto;
}

.footer {
  background-color: var(--main-color);
  color: var(--main-text);
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

/* homepage cards */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

.card {
  position: relative; /* Add position relative to the card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  width: 100%; /* Make the card width 100% of the parent container */
  overflow: hidden; /* Hide overflow to ensure tint stays within card */
}

.card img {
  height: auto;
  max-height: 400px;
  width: 100%; /* Make the image width 100% of the card */
  object-fit: cover; /* Ensure the image covers the container proportionally */
  display: block;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.243); /* Add a black tint with 40% opacity */
  pointer-events: none; /* Ensure the tint does not interfere with other elements */
}

.card-content {
  position: absolute; /* Position the content absolute to place it on top of the image */
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content */
  z-index: 1; /* Ensure content is above the tint */
  color: white; /* Ensure text is visible on the tinted background */
  text-align: center;
}

.card h2 {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.card button {
  background-color: var(--secondary-text);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  font-style: normal;
}

.card button:hover {
  background-color: var(--main-text);
  color: var();
}
